doctype html
html
  include includes/head.jade
  body
    #start_page.hidden controls
    include includes/navigate.jade
    .container-fluid
      .row
        .col-sm-8.col-xs-7
          .btn-group.btn-group-justified
            a.btn.btn-default.btn-xs.col-sm-4(href='#')
              i.fa.fa-home.fa-1
              br
              | X
            a.btn.btn-default.btn-xs.col-sm-4(href='#')
              i.fa.fa-home.fa-1
              br
              | Y
            a.btn.btn-default.btn-xs.col-sm-4(href='#')
              i.fa.fa-home.fa-1
              br
              | Z
          .push(style='height:10px;')
          .btn-group.btn-group-justified
            a.btn.btn-success.col-sm-4.plus_x(href='#')
              i.fa.fa-plus.fa-1
            a.btn.btn-success.col-sm-4.plus_y(href='#')
              i.fa.fa-plus.fa-1
            a.btn.btn-success.col-sm-4.plus_z(href='#')
              i.fa.fa-plus.fa-1
          .btn-group.btn-group-justified
            a.btn.btn-danger.col-sm-4.minus_x(href='#')
              i.fa.fa-minus.fa-1
            a.btn.btn-danger.ol-sm-4.minus_y(href='#')
              i.fa.fa-minus.fa-1
            a.btn.btn-danger.col-sm-4.minus_z(href='#')
              i.fa.fa-minus.fa-1
          .push(style='height:10px;')
          .btn-group.btn-group-justified.measured_amount
            a.btn.btn-primary.btn-xs.col-sm-3(href='#', data-amount='0.1')
              | 0.1
            a.btn.btn-primary.active.btn-xs.col-sm-3(href='#', data-amount='1')
              | 1
            a.btn.btn-primary.btn-xs.col-sm-3(href='#', data-amount='10')
              | 10
            a.btn.btn-primary.btn-xs.col-sm-3(href='#', data-amount='100')
              | 100
        .col-sm-4.col-xs-5
          select#tool_select.form-control.input-sm
            option(value='') Hotend
          .push(style='height:10px;')
          
          .input-group
            input.form-control.input-sm.text-right(type='text', placeholder='5')
            span.input-group-addon mm
          
          .push(style='height:10px;')
          
          a.btn.btn-default.btn-sm.btn-block(href='#')
            i.fa.fa-filter
            |  Extrude
            
          .push(style='height:16px;')
          
          .btn-group.btn-group-justified
            a.btn.btn-info.btn-sm.col-sm-3.motor_toggle.top-spin(href='#')
              i.fa.fa-cog
              |    Motor
            a.btn.btn-success.btn-sm.col-sm-3.fans_toggle.top-spin(href='#')
              i.fa.fa-spinner.fa-spin
              |    Fans
              
    
    include includes/footer.jade 