.container
  .push(style='height:10px')
  .jumbotron.hero-spacer
    .row
      .col-xs-4.col-sm-3
        .push(style='height:15px')
        img.img-responsive(src='http://huementui.s3.amazonaws.com/images/hui-rainbow.png', style='margin-left:auto;margin-right:auto;')
      .col-xs-8.col-sm-9
        h1 Huement User Interface
        p.lead
          | A Bootleg version of Bootstrap 3. It's an awesome new way to use your favorite UI Toolkit.