[Desktop Entry]
Name=RepRasp
Comment=3D-Printer
Exec=/home/pi/reprasp/start.sh
Icon=/home/pi/reprasp/reprasp.ico
Terminal=false
Type=Application
Categories=Application;Development;

