script(src='webroot/libs/jquery/jquery-2.1.4.min.js')
script(src="webroot/js/hui.min.js")

//Using a simple browser? these might help
//script(src='webroot/libs/modernizr/modernizr.2.6.2.custom.js')
//script(src='webroot/libs/minimal/consolefix.js')
//script(src='webroot/libs/minimal/css-media.js')
//script(src='webroot/libs/minimal/respond.min.js')
//script(src='webroot/libs/minimal/shiv.js')
//script(src='webroot/libs/minimal/html5shiv.js')

script(src='webroot/libs/json2.js')
script(src='webroot/libs/pnotify.custom.min.js')
script(src='webroot/libs/pnotify-function.js')
//script(src="webroot/libs/jstorage.min.js")
//script(src="webroot/libs/moment.min.js")
script(src="webroot/js/RepRasp.js")
script(type='text/javascript').
  console.debug("RepRasp Started");

#Foots.container
  div.row
    div.col-xs-12
      div.push 
        &nbsp;
      p.text-right.hidden-xs.hidden-sm
        © 2015 huement.com
      div.push
        &nbsp;