head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')

  title="RepRasp - 3D Printer Touchscreen"

  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='stylesheet', href='webroot/css/hui-min.css')
  link(rel='stylesheet', href='webroot/libs/pnotify.custom.min.css')
  link(rel='stylesheet', href='webroot/css/RepRasp.css')