.navmenu.navmenu-default.navmenu-fixed-right.offcanvas
  ul.nav.navmenu-nav.minset
    li
      a(href='index.html')
        i.fa.fa-th-large.fa-1
        |   MAIN
    li
      a(href='print.html')
        i.fa.fa-cube.fa-1
        |   PRINT
    li
      a(href='control.html')
        i.fa.fa-arrows.fa-1
        |   MOVE
    li
      a(href='terminal.html')
        i.fa.fa-tasks.fa-1
        |   TERMINAL
    li
      a(href='settings.html')
        i.fa.fa-wrench.fa-1
        |   CONFIG

  img.img-responsive(src='webroot/files/reprasp_large.png', style='max-width:130px;width:100%;margin:20px auto;')
  p.lead.footertext(style='max-width:130px;width:100%;margin:0px auto;')
    © 2015 huement.com
    
.navbar.navbar-fixed-top
  button.navbar-toggle.action-button(type='button', data-toggle='offcanvas', data-target='.navmenu', data-canvas='body')
    img.img-responsive(src='webroot/files/reprasp.png', style='max-width:70px;width:100%;margin:0px auto;')