
//
// HUI Variables
//
// Contains Unique HUI Variables for use with the SASS files
// -------------------------------------------------------------

$brand-primary:         #008cba;
$brand-success:         #43ac6a;
$brand-info:            #5bc0de;
$brand-warning:         #E99002;
$brand-danger:          #F04124;
$brand-inverse:         #1F1F1F;
