<div id="reprasp-ui">
  <a href="#" id="reprasp-minilink"><i class="icon-fullscreen" style="padding-left:5px;padding-right:5px;"></i></a>
  <a href="#" id="reprasp-reload"><i class="icon-refresh" style="padding-left:5px;padding-right:5px;"></i></a>
</div>