
<div class="container">
  <div style="height:10px" class="push"></div>
  <div class="jumbotron hero-spacer">
    <div class="row">
      <div class="col-xs-4 col-sm-3">
        <div style="height:15px" class="push"></div><img src="http://huementui.s3.amazonaws.com/images/hui-rainbow.png" style="margin-left:auto;margin-right:auto;" class="img-responsive"/>
      </div>
      <div class="col-xs-8 col-sm-9">
        <h1>Huement User Interface</h1>
        <p class="lead">A Bootleg version of Bootstrap 3. It's an awesome new way to use your favorite UI Toolkit.</p>
      </div>
    </div>
  </div>
</div>